[submodule "vim_vim-pathogen"]
        path = vim/vim-pathogen
        url = https://github.com/tpope/vim-pathogen.git
[submodule "vim_git-runtime"]
	path = vim/bundle/git-runtime
	url = https://github.com/tpope/vim-git.git
[submodule "vim_endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim_surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim_rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim_ragtag"]
	path = vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim_nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim_nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim_syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim_csapprox"]
	path = vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim_vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim_snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim_bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim_a"]
	path = vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim_taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim_indexed-search"]
	path = vim/bundle/indexed-search
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "vim_delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "vim_matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim_markdown-runtime"]
	path = vim/bundle/markdown-runtime
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim_ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "vim_gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
