tags
fortmux/log/*
*~
*.swp
.VimballRecord
undofiles/*
projects/*
.netrwhist
emacs.d/session*
emacs.d/loaddefs.el*
emacs.d/backups/*
emacs.d/auto-save-list
emacs.d/*elc
emacs.d/places
emacs.d/url/cookies
emacs.d/elpa-to-submit/jabber/jabber.info
emacs.d/elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
emacs.d/thumbs/*
emacs.d/oddmuse/*
emacs.d/.newsrc-dribble
emacs.d/.nnmail-cache
emacs.d//#.newsrc-dribble#
emacs.d/.svn
emacs.d/.DS_Store
emacs.d/image-dired/
emacs.d/elim/
emacs.d/elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
emacs.d/session*
emacs.d/tramp
emacs.d/\#*
